	 <!-- Start Slider area -->
        <div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
        	<!-- Start Single Slide -->
	        <div class="slide animation__style10 bg-image--1 fullscreen align__center--left">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-lg-12">
	            			<div class="slider__content">
		            			<div class="contentbox">
		            				<h2>Buy <span>your </span></h2>
		            				<h2>favourite <span>Book </span></h2>
		            				<h2>from <span>Here </span></h2>
				                   	<a class="shopbtn" href="/listbook">shop now</a>
		            			</div>
	            			</div>
	            		</div>
	            	</div>
	            </div>
            </div>
            <!-- End Single Slide -->
        	<!-- Start Single Slide -->
	        <div class="slide animation__style10 bg-image--3 fullscreen align__center--left">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-lg-12">
	            			<div class="slider__content">
		            			<div class="contentbox">
		            				<h2>Buy <span>your </span></h2>
		            				<h2>favourite <span>Book </span></h2>
		            				<h2>from <span>Here </span></h2>
				                   	<a class="shopbtn" href="/listbook">shop now</a>
		            			</div>
	            			</div>
	            		</div>
	            	</div>
	            </div>
            </div>
            <!-- End Single Slide -->
        </div>
        <!-- End Slider area -->

	<section class="wn__bestseller__area bg--white pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section__title text-center">
							<h2 class="title__be--2">Sản phẩm<span class="color--theme">mới</span></h2>
							<p>Những cuốn sách mới luôn được cập nhật mỗi ngày</p>
						</div>
					</div>
				</div>
				<!-- Start Single Tab Content -->
				<div class="tab__container mt--60">
               		<div class="row single__tab tab-pane fade show active" id="nav-all" role="tabpanel">
						<div class="product__indicator--4 arrows_style owl-carousel owl-theme">
						{{#each newproduct}}
							{{>bestseller this}}
						{{/each}} 
                		</div>
					</div>
                </div>
				<!-- End Single Tab Content -->
		    </div>
	</section>
		<!-- Start BEst Seller Area -->
		<!-- Start NEwsletter Area -->
		<section class="wn__newsletter__area bg-image--2">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 offset-lg-5 col-md-12 col-12 ptb--150">
						<div class="section__title text-center">
							<h2>Hãy đến đây</h2>
						</div>
						<div class="newsletter__block text-center">
							<p>Theo dõi để cập nhật thêm những cuốn sách hay và bổ ích.</p>
							<form action="#">
								<div class="newsletter__box">
									<input type="email" placeholder="Nhập e-mail của bạn">
									<button>Đăng kí</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End NEwsletter Area -->
		<!-- Start Best Seller Area -->
		<section class="wn__bestseller__area bg--white pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section__title text-center">
							<h2 class="title__be--2">Bán<span class="color--theme">Chạy</span></h2>
							<p>Chúng tôi luôn mang lại cho bạn nhiều sự lựa chọn mới về thế giới tri thức.</p>
						</div>
					</div>
				</div>
			
				<div class="tab__container mt--60">
					<!-- Start Single Tab Content -->
					<div class="row single__tab tab-pane fade show active" id="nav-all" role="tabpanel">
						<div class="product__indicator--4 arrows_style owl-carousel owl-theme">
                             {{#each bestseller}}
								{{>bestseller this}}
                            {{/each}}
                        </div>
				</div>
			</div>
		</section>
		<!-- Start BEst Seller Area -->
	
		<!-- Best Sale Area -->
		<section class="best-seel-area pt--80 pb--60">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section__title text-center pb--50">
							<h2 class="title__be--2">Gợi <span class="color--theme">ý </span></h2>
						
						</div>
					</div>
				</div>
			</div>
			<div class="slider center">
				<!-- Single product start -->
                 {{#each books}}
				<div class="product product__style--3">
               
					<div class="product__thumb">
						<a class="size__cover" href="/listbook/{{_id}}"><img src="{{cover}}" alt="product image" width="240" height="370"></a>
					</div>
					<div class="product__content content--center">
						
					</div>
               
				</div>
                 {{/each}}
               
				<!-- Single product end -->
				<!-- Single product start -->
			</div>
		</section>















