
<section class="my_account_area  pt--80 pb--55 bg--white">
    <div class="container  center_login_register ">
        <div class="row">
            <div class="col-6 text-center">
                
                <div class="my__account__wrapper  ">
                    <h3 class="account__title">Quên mật khẩu</h3>
                        <div class="input__box ">
                            {{#if messageSuccess}}
                            <div class="alert alert-success">
                                {{messageSuccess}}
                            </div>
                            {{/if}}
                    </div>       
                    <form method="post">
                        <div class="account__form">
                            <div class="input__box" width="200">
                                <label>Username <span>*</span></label>
                                <input type="text" name="username" value="{{username}}" required>
                            </div>
                            <div class="input__box">
                                <label>Email <span>*</span></label>
                                <input type="email" name="email" value="{{email}}" required>
                            </div>
                            {{#if error_msg}}
                                <div class="alert alert-danger">
                                    {{error_msg}}
                                </div>
                            {{/if}}
                            <div class="form__btn">
                                <button type="submit">Gửi</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>