	<!-- Start My Account Area -->
		<section class="my_account_area pt--80 pb--55 bg--white">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="my__account__wrapper">
							<h3 class="account__title">Register</h3>
							<form method="post">
								<div class="account__form">
                                    <div class="input__box">
										<label>Username <span>*</span></label>
										<input type="text" name="username">
									</div>
									<div class="input__box">
										<label>Email address <span>*</span></label>
										<input type="text" name="email">
									</div>
									<div class="input__box">
										<label>Password<span>*</span></label>
										<input type="password" name="password">
									</div>
									<div class="form__btn">
										<button type="submit">Register</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>